.btn-outline-success:hover,
.btn-outline-success:active,
.btn-outline-success:visited {
  background-color: #5cb85c !important;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:active,
.btn-outline-secondary:visited {
  background-color: #ada7a7cf !important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(54, 8, 8, 0.3);
}

.nav-link:hover,
.nav-link:active,
.nav-link:visited {
    color: #373a3c !important; 
  
}

.btn-success{
    background-color: #5cb85c !important;
    color: #fff !important;
}

.btn-success-success:hover {
    background-color: #2d753d !important;
}

.form-control{
    color: #55595c !important;
}