<%= header %>

<div class="settings-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-center">Your Settings</h1>

        <form>
          <fieldset class="input-group mb-3">
            <input class="form-control" type="text" placeholder="URL of profile picture">
<!--             <input type="file" id="file"> -->
          </fieldset>
          <fieldset class="input-group mb-3">
            <input class="form-control form-control-lg" type="text" placeholder="Your Name">
          </fieldset>
          <fieldset class="input-group mb-3">
            <textarea class="form-control form-control-lg" rows="8" placeholder="Short bio about you"></textarea>
          </fieldset>
          <fieldset class="input-group mb-3">
            <input class="form-control form-control-lg" type="text" placeholder="Email">
          </fieldset>
          <fieldset class="input-group mb-3">
            <input class="form-control form-control-lg" type="password" placeholder="Password">
          </fieldset>
          <button class="btn btn-lg btn-success position-relative float-end">
            Update Settings
          </button>
        </form>
      </div>

    </div>
  </div>
</div>

<%= footer %>
